.vscode
yamnet.h5
venv
data.backup
data
__pycache__
OpenJMLA
labeled_data
labeled_data_general
labeled_data_music
logs
logs2
results
results2
wandb
training_data_old.json
training_data.json
backup.txt
logs.txt
user_numeric_ids.txt

scripts/main.ipynb